@import "../../constants";

._alert-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
  width: 100%;

  @media (max-width: $extraSmall) {
    top: 70px;
  }

}
