//color

$lightBlue: #333867;
$darkBlue: #17193B;
$blue: #5E5CE6;
$white: #fff;
$lightGray: #f5f6f8;
$black: #000000;
$green: #22E759;
$red: #DA0B0B;

//breakpoints

$extraSmall: 600px;
$small: 768px;
$medium: 992px;
$large: 1200px;
