@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
._not-found-page {
  background-color: #333867;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  ._not-found-page ._text {
    font-size: 100px;
    color: #fff;
    text-align: center; }

._auth-page {
  background-color: #333867;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  ._auth-page ._form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px; }
    @media (max-width: 600px) {
      ._auth-page ._form_container {
        width: 220px; } }
    ._auth-page ._form_container ._label-container {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 14px;
      margin-top: 14px;
      color: #fff; }
      ._auth-page ._form_container ._label-container ._text {
        font-weight: 700;
        font-size: 20px;
        line-height: 22px; }
    ._auth-page ._form_container ._input-label {
      color: #fff;
      font-family: 'Poppins', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px; }
    ._auth-page ._form_container ._input {
      color: #fff;
      font-family: 'Poppins', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid #fff;
      width: 100%;
      border-radius: 40px; }
      ._auth-page ._form_container ._input ._icon {
        color: #fff; }
    ._auth-page ._form_container ._input-error {
      border: none; }
    ._auth-page ._form_container ._error-text {
      color: red;
      font-size: 13px; }
    ._auth-page ._form_container ._button-container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 50px; }
      ._auth-page ._form_container ._button-container ._button {
        width: 100%;
        border-radius: 40px;
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        border: 3px solid #5E5CE6; }

._main-page {
  background-color: #f5f6f8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 55px;
  padding-left: 77px;
  padding-right: 77px; }
  @media (max-width: 600px) {
    ._main-page {
      padding-top: 70px;
      padding-left: 11px;
      padding-right: 11px; } }
  ._main-page ._row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 40px;
    width: 100%;
    flex-direction: row; }
    @media (max-width: 600px) {
      ._main-page ._row {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 20px; } }
    @media (max-width: 600px) {
      ._main-page ._row ._search-button-container {
        width: 100%;
        justify-content: flex-start;
        align-items: center; } }
  ._main-page ._table-row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    flex-direction: row; }
    ._main-page ._table-row ._machine-table {
      width: 49%;
      margin-right: 40px; }
    ._main-page ._table-row ._location-table {
      width: 49%; }
  ._main-page ._best-and-worst-day-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%; }
    ._main-page ._best-and-worst-day-container ._best-and-worst-day-off-all-time-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      flex-direction: row;
      margin-bottom: 40px; }
      @media (max-width: 600px) {
        ._main-page ._best-and-worst-day-container ._best-and-worst-day-off-all-time-row {
          flex-direction: column; } }
  ._main-page ._footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%; }
  ._main-page ._text {
    font-size: 100px;
    color: #000000;
    text-align: center; }

._attendance-page {
  background-color: #f5f6f8;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  ._attendance-page ._text {
    font-size: 100px;
    color: #000000;
    text-align: center; }

._comparison-page {
  background-color: #f5f6f8;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  ._comparison-page ._text {
    font-size: 100px;
    color: #000000;
    text-align: center; }

.root {
  display: block; }

@keyframes animation-hw {
  0% {
    transform: scale(1);
    opacity: 1; }
  45% {
    transform: scale(0.1);
    opacity: 0.7; }
  80% {
    transform: scale(1);
    opacity: 1; } }
.back-drop {
  background: rgba(164, 164, 164, 0.18);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9001; }

.spinner {
  position: absolute; }

.spinner > svg {
  filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.9));
  color: var(--color-primary);
  opacity: 0.9; }

.spinner-center {
  position: absolute;
  background: rgba(192, 192, 192, 0.2);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 20000;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around; }

.spinner-center .spinner-center-inner > svg {
  filter: drop-shadow(-1px 2px 2px #333);
  color: var(--color-secondary); }

.opacity-2 {
  opacity: 0.2; }

._placeholder-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  z-index: 20000; }
  ._placeholder-container ._text {
    font-size: 20px;
    font-weight: bold;
    color: #333867; }

._alert-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
  width: 100%; }

._nav-bar-container {
  background: linear-gradient(119deg, #333867 12.45%, #17193B 94.7%);
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 9999999; }
  @media (max-width: 600px) {
    ._nav-bar-container {
      height: 70px;
      padding-left: 0;
      padding-right: 0; } }
  ._nav-bar-container ._nav-bar-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between; }
    @media (max-width: 600px) {
      ._nav-bar-container ._nav-bar-row {
        justify-content: center; } }
    ._nav-bar-container ._nav-bar-row ._items-container {
      display: flex;
      align-items: center;
      height: 100%; }
      ._nav-bar-container ._nav-bar-row ._items-container ._item-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px; }
        @media (max-width: 600px) {
          ._nav-bar-container ._nav-bar-row ._items-container ._item-container {
            padding: 10px; } }
        ._nav-bar-container ._nav-bar-row ._items-container ._item-container ._text {
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 1.25px;
          text-transform: uppercase;
          color: #fff;
          text-decoration: none; }
          @media (max-width: 600px) {
            ._nav-bar-container ._nav-bar-row ._items-container ._item-container ._text {
              font-size: 10px; } }
        ._nav-bar-container ._nav-bar-row ._items-container ._item-container ._active {
          color: #5E5CE6; }
    ._nav-bar-container ._nav-bar-row ._icon-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: fixed;
      top: 0;
      right: 25px;
      height: 55px; }
      ._nav-bar-container ._nav-bar-row ._icon-container ._icon {
        width: 25px;
        height: 25px;
        color: #fff; }

._icon-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  ._icon-button-container ._text-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 20px; }
    ._icon-button-container ._text-container ._text {
      font-weight: 700;
      text-align: center;
      font-size: 16px;
      color: #000000; }
  ._icon-button-container ._icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 57px;
    border-radius: 5px;
    background-color: #17193B; }

._select-container {
  padding: 5px 12px 5px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 40px; }
  @media (max-width: 600px) {
    ._select-container {
      margin-right: 0;
      margin-bottom: 25px; } }

._custom-button {
  padding: 11px 16px !important;
  margin: 16px !important;
  background-color: #fff !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: 1.25px !important;
  color: #5E5CE6;
  border: 1px solid #5E5CE6;
  text-transform: uppercase !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  min-width: 110px !important; }
  @media (max-width: 600px) {
    ._custom-button {
      margin: 0 !important;
      font-size: 12px !important; } }

._data-picker-container {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 40px;
  width: 220px; }
  @media (max-width: 600px) {
    ._data-picker-container {
      margin-right: 0;
      margin-bottom: 25px;
      width: 100%;
      box-sizing: border-box; } }
  ._data-picker-container ._date-picker-input {
    color: #000000;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 16px;
    padding: 4px 24px 5px 0; }
    @media (max-width: 600px) {
      ._data-picker-container ._date-picker-input {
        width: 80vw; } }
  ._data-picker-container ._data-picker-label-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    ._data-picker-container ._data-picker-label-container ._date-picker-label {
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
      padding-bottom: 3px; }

._table-container {
  min-width: 650px;
  flex: 1; }

._table-header-container {
  padding: 15px 10px !important; }
  ._table-header-container ._table-header {
    font-size: 16px !important;
    line-height: 5px !important;
    font-weight: 700 !important;
    color: #5E5CE6 !important;
    letter-spacing: 0.5px !important;
    flex: 1 !important; }

._table-cell-header-location {
  min-width: 400px; }

._table-cell-header-machine {
  min-width: 150px; }

._table-cell-header {
  font-size: 16px !important;
  line-height: 5px !important;
  font-weight: 700 !important;
  color: #000000 !important;
  letter-spacing: 0.5px !important; }

._table-cell {
  font-size: 15px !important;
  line-height: 5px !important;
  font-weight: 600 !important;
  color: #000000 !important;
  letter-spacing: 0.5px !important; }

._week-analytic-table-container {
  padding: 15px 30px; }
  ._week-analytic-table-container ._week-analytic-table-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    padding: 15px 0; }
    ._week-analytic-table-container ._week-analytic-table-header-container ._table-header-text {
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      text-transform: uppercase;
      letter-spacing: 1px; }
    ._week-analytic-table-container ._week-analytic-table-header-container ._best {
      color: #22E759; }
    ._week-analytic-table-container ._week-analytic-table-header-container ._worst {
      color: #DA0B0B; }
  ._week-analytic-table-container ._week-analytic-table-footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px 0; }
    ._week-analytic-table-container ._week-analytic-table-footer-container ._week-analytic-table-footer-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      ._week-analytic-table-container ._week-analytic-table-footer-container ._week-analytic-table-footer-row ._week-analytic-table-footer-row-header {
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 1px;
        color: #000000; }
      ._week-analytic-table-container ._week-analytic-table-footer-container ._week-analytic-table-footer-row ._week-analytic-table-footer-row-text-best {
        color: #22E759 !important; }
      ._week-analytic-table-container ._week-analytic-table-footer-container ._week-analytic-table-footer-row ._week-analytic-table-footer-row-text-worst {
        color: #DA0B0B !important; }

._week-analytic-best-table-container {
  margin-right: 40px; }

._week-analytic-table-cell {
  flex: 1;
  min-width: 170px; }

._week-analytic-table-first-cell {
  width: 150px !important; }

._week-analytic-table-footer-header-cell {
  width: 220px !important; }

._week-analytic-table-footer-value-header-cell {
  width: 80px !important; }

._week-analytic-table-footer-value-cell {
  width: 100px !important; }

._best-and-worst-day-of-all-time-container {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 30px; }
  ._best-and-worst-day-of-all-time-container ._header-container-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; }
    ._best-and-worst-day-of-all-time-container ._header-container-container ._header {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      letter-spacing: 1px; }
    ._best-and-worst-day-of-all-time-container ._header-container-container ._best {
      color: #22E759; }
    ._best-and-worst-day-of-all-time-container ._header-container-container ._worst {
      color: #DA0B0B; }
  ._best-and-worst-day-of-all-time-container ._data-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%; }
    ._best-and-worst-day-of-all-time-container ._data-row ._cell {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
      flex: 1; }
      ._best-and-worst-day-of-all-time-container ._data-row ._cell ._text-cell {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        line-height: 22px; }
      ._best-and-worst-day-of-all-time-container ._data-row ._cell ._header-cell {
        color: #5E5CE6; }
      ._best-and-worst-day-of-all-time-container ._data-row ._cell ._data-cell {
        color: #000000; }

._best-day-of-all-time-container {
  margin-right: 40px; }

._header1-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  flex-direction: row; }
  @media (max-width: 600px) {
    ._header1-text-container {
      padding-bottom: 20px;
      padding-top: 20px; } }
  ._header1-text-container ._header1-text {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #5E5CE6; }
    @media (max-width: 600px) {
      ._header1-text-container ._header1-text {
        font-size: 18px;
        letter-spacing: 1px; } }

._header2-text-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%; }
  @media (max-width: 600px) {
    ._header2-text-container {
      padding-bottom: 10px;
      padding-top: 10px; } }
  ._header2-text-container ._header2-text {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #5E5CE6; }
    @media (max-width: 600px) {
      ._header2-text-container ._header2-text {
        font-size: 14px;
        letter-spacing: 1px; } }

._week-analytics-container {
  display: flex;
  flex-direction: column;
  width: 100%; }
  ._week-analytics-container ._week-analytics-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 40px;
    width: 100%; }

* {
  margin: 0;
  padding: 0; }

html {
  font-family: Roboto, sans-serif;
  background-color: #f5f6f8; }

/*# sourceMappingURL=index.css.map */
