@import "../../constants";

._custom-button {
  padding: 11px 16px;
  margin: 16px;
  background-color: $white;
  box-shadow: 0 4px 4px rgba($black, 0.1);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  color: $blue;
}
