@import "../../constants";

._custom-button {
  padding: 11px 16px !important;
  margin: 16px !important;
  background-color: $white !important;
  box-shadow: 0 4px 4px rgba($black, 0.1) !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: 1.25px !important;
  color: $blue;
  border: 1px solid $blue;
  text-transform: uppercase !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  min-width: 110px !important;

  @media (max-width: $extraSmall) {
    margin: 0 !important;
    font-size: 12px !important;
  }
}
