._header1-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  flex-direction: row;

  ._header1-text {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: $blue;
  }
}

._header2-text-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;

  ._header2-text {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: $blue;
  }
}
