@import "../../constants";

._header1-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  flex-direction: row;

  @media (max-width: $extraSmall) {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  ._header1-text {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: $blue;

    @media (max-width: $extraSmall) {
      font-size: 18px;
      letter-spacing: 1px;
    }
  }
}

._header2-text-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;

  @media (max-width: $extraSmall) {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  ._header2-text {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: $blue;

    @media (max-width: $extraSmall) {
      font-size: 14px;
      letter-spacing: 1px;
    }
  }
}
