@import "../../constants";


._table-container {
  min-width: 650px;
  flex: 1;
}

._table-header-container {
  padding: 15px 10px !important;

  ._table-header {
    font-size: 16px !important;
    line-height: 5px !important;
    font-weight: 700 !important;
    color: $blue !important;
    letter-spacing: 0.5px !important;
    flex: 1 !important;
  }
}

._table-cell-header-location {
  min-width: 400px;
}

._table-cell-header-machine {
  min-width: 150px;
}


._table-cell-header {
  font-size: 16px !important;
  line-height: 5px !important;
  font-weight: 700 !important;
  color: $black !important;
  letter-spacing: 0.5px !important;
}

._table-cell {
  font-size: 15px !important;
  line-height: 5px !important;
  font-weight: 600 !important;
  color: $black !important;
  letter-spacing: 0.5px !important;
}

._week-analytic-table-container {
  padding: 15px 30px;


  ._week-analytic-table-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    padding: 15px 0;

    ._table-header-text {
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    ._best {
      color: $green;
    }

    ._worst {
      color: $red;
    }
  }

  ._week-analytic-table-footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 350px;
    flex-direction: column;
    margin: 20px 0;

    ._week-analytic-table-footer-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      ._week-analytic-table-footer-row-header {
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 1px;
        color: $black;
      }

      ._week-analytic-table-footer-row-text-best {
        color: $green !important;
      }

      ._week-analytic-table-footer-row-text-worst {
        color: $red !important;
      }
    }
  }

}

._week-analytic-best-table-container {
  margin-right: 40px;
}

._week-analytic-table-cell {
  min-width: 200px;
  max-width: 200px;
}



