@import "../../constants";

._main-page {
  background-color: $lightGray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 55px;
  padding-left: 77px;
  padding-right: 77px;

  @media (max-width: $extraSmall) {
    padding-top: 70px;
    padding-left: 11px;
    padding-right: 11px;
  }

  ._row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 40px;
    width: 100%;
    flex-direction: row;

    @media (max-width: $extraSmall) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 20px;
    }

    ._search-button-container {
      @media (max-width: $extraSmall) {
        width: 100%;
        justify-content: flex-start;
        align-items: center;
      }
    }

  }

  ._table-row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    flex-direction: row;

    @media (max-width: $extraSmall) {
      flex-direction: column;
    }

    ._machine-table {
      width: 49%;
      margin-right: 40px;
      @media (max-width: $extraSmall) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    ._location-table {
      width: 49%;
      @media (max-width: $extraSmall) {
        display: none;
      }
    }

    ._location-table-mobile {
      display: none;
      @media (max-width: $extraSmall) {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  ._best-and-worst-day-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    ._best-and-worst-day-off-all-time-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      flex-direction: row;
      margin-bottom: 40px;

      @media (max-width: $extraSmall) {
        flex-direction: column;
      }

    }

  }

  ._footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
  }

  ._text {
    font-size: 100px;
    color: $black;
    text-align: center;
  }
}
