@import "../../constants";

._main-page {
  background-color: $lightGray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 95px;
  padding-left: 77px;
  padding-right: 77px;

  ._row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 40px;
    width: 100%;
  }

  ._table-row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;

    ._machine-table {
      margin-right: 20px;
      width: 100%;
    }

    ._location-table {
      margin-left: 20px;
      width: 100%;
    }
  }

  ._footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
  }

  ._text {
    font-size: 100px;
    color: $black;
    text-align: center;
  }
}
