@import "../../constants";

._icon-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  ._text-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    ._text {
      font-weight: 700;
      text-align: center;
      font-size: 16px;
      color: $black;
    }
  }

  ._icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 57px;
    border-radius: 5px;
    background-color: $darkBlue;
  }

}
