@import "../../constants";

._comparison-page {
  background-color: $lightGray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 55px;
  padding-left: 77px;
  padding-right: 77px;

  ._text {
    font-size: 100px;
    color: $black;
    text-align: center;
  }
}
